/* Import of Google Font 'Lato' */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@300;400;700;900&display=swap");
/* Import of SCSS files for preprocessor to generate the main.css file and main.css.map */
/* Import to enable use of variables */ /* Color schema */
/* Blues */
/* Reds */
/* Yellow */
/* Shadows */
/* Global reset */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting font-size to 1rem = 10px for ease of use */
html {
  font-size: 62.5%;
}

/* Global styling of the body element of the views */
body {
  background: linear-gradient(to bottom right, #000015, #00003D, #0101ca) no-repeat;
  color: #C6C6FF;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  min-height: 100vh;
  padding: 50px;
  position: relative;
}

/* Color schema */
/* Blues */
/* Reds */
/* Yellow */
/* Shadows */
.index-container {
  /* Typography of the main heading of the page */
  /* Typography of the secondary heading of the application main view */
  /* Typography of the descriptive paragraph of the application */
  /* Setting of the size of the input fields placeholder text */
  /* Setting of the color of the placeholder text */
  /* The typography of the end result field text*/
  /* Typography of the heading of the result field */
}
.index-container .heading-title {
  font-size: 6rem;
  font-weight: 100;
  text-transform: uppercase;
}
.index-container h2 {
  font-size: 2rem;
  padding: 0.5rem;
}
.index-container p {
  padding: 0.5rem;
  font-size: 1.6rem;
}
.index-container input {
  font-size: 2rem;
}
.index-container ::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.index-container .result-box h2 {
  color: #500000;
}
.index-container .heading-results {
  color: #FFFF00;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 2.5px;
  margin-top: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

/* Typography of the error page message */
.error-wrapper .error-flex-container {
  color: #9F0000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Import to enable the use of variables */ /* Color schema */
/* Blues */
/* Reds */
/* Yellow */
/* Shadows */
/* Styling of the error message container and contents */
.error-wrapper .error-flex-container {
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.8), -0.8rem -0.8rem 3rem #00003D;
  border-radius: 1rem;
  padding: 2rem;
}

/* Color schema */
/* Blues */
/* Reds */
/* Yellow */
/* Shadows */
.index-container {
  /* Styling of the input field */
  /* Styling of the end result field */
}
.index-container input {
  background: #C6C6FF;
  border: none;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.8), -0.8rem -0.8rem 3rem #00003D;
}
.index-container .result-box {
  background: #C6C6FF;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.8), -0.8rem -0.8rem 3rem #00003D;
}

/* Layout of the error message container and contents */
.error-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error-wrapper .error-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Layout of the global container */
.global-container {
  /* Setting a margin from the top of the viewport */
  margin-top: 8rem;
  /* Layout of the main container of the elements of the main index.pug view */
}
.global-container .index-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* Layout of the main form that takes in the individual kilometers per vehicle */
  /* Layout, positioning and sizing of the end result field */
}
.global-container .index-container .form-kilometers {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* Layout and positioning of the main input field */
  /* Sizing of the submit button */
}
.global-container .index-container .form-kilometers input {
  margin: 3rem 0.5rem;
  outline: none;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 35rem;
}
.global-container .index-container .form-kilometers .button-submit {
  width: 10rem;
}
.global-container .index-container .buttons-executive {
  display: flex;
  width: 20rem;
  justify-content: space-around;
  align-items: center;
  /* Sizing of the calculate button used to trigger a GET request to get the total fleet cost */
}
.global-container .index-container .buttons-executive .button-calculate {
  padding: 1rem;
}
.global-container .index-container .buttons-executive .button-delete {
  padding: 1rem;
}
.global-container .index-container .result-box {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  height: 7rem;
  justify-content: center;
  margin: 3rem auto;
  width: 18rem;
}

/*# sourceMappingURL=main.css.map */
