/* Color schema */

/* Blues */
$dark-blue: #000015;
$middle-blue: #00003D;
$light-blue: #0101ca;
$misty-blue: #C6C6FF;

/* Reds */
$dark-red: #500000;
$middle-red: #770000;
$light-red: #9F0000;
$misty-red: #FFC6C6;

/* Yellow */
$primary-yellow: #FFFF00;

/* Shadows */
$dark-shadow: rgba(0, 0, 0, 0.8);
$middle-shadow: rgba(0, 0, 0, 0.5);
$light-shadow: rgba(0, 0, 0, 0.2);