/* Color schema */

/* Blues */
$dark-blue: #000015;
$middle-blue: #00003D;
$light-blue: #000064;
$misty-blue: #C6C6FF;

/* Reds */
$dark-red: #500000;
$middle-red: #770000;
$light-red: #9F0000;
$misty-red: #FFC6C6;

