@import '../abstract/variables';

.index-container {
  /* Styling of the input field */
  input {
    background: $misty-blue;
    border: none;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 3rem $dark-shadow,
  -0.8rem -0.8rem 3rem $middle-blue;
  }

  /* Styling of the end result field */
  .result-box {
    background: $misty-blue;
    box-shadow: 1rem 1rem 3rem $dark-shadow,
    -0.8rem -0.8rem 3rem $middle-blue;
  }
}